/* Body */


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */

header {
    background-color: #975b85;
    color: rgb(255, 255, 255);
    padding: 20px 0;
}

header h1 {
    text-align: center;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 25px;
}


nav a {
    color: rgb(90, 35, 69);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #975b85;
    color: aliceblue;
    text-align: center;
    padding: 20px;
}

main {
    min-height: 70vh;
    padding: 40px;
}

section{
    background-color: #975b8577;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 25px;
}

h2 {
    margin-bottom: 15px;
    color: #4b0561;
}

.image-placeholder {
    height: 220px;
    border: 2px dashed #975b85;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(109, 18, 145);
    margin-top: 20px;
}
.imagem-dois {
    border-radius: 12px;
    width: 220px;  
    max-width: 220px;
    height: 220px; 

    background-image: url('../images/discord_icon.jpg');
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;

    box-shadow: 6px 9px 16px rgba(59, 4, 43, 0.911);

    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(109, 18, 145);
}
.button-layout{
    padding: 6px 15px;
    background-color: #975b85;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}
.button-layout:focus{
    background-color: #3d1a33c4;
}
.button-layout:hover{
    color: #4b0561;
}
.input-layout{
    width: 200px;
    padding: 5px;
    border: 1px solid #d39fc32f;
    border-radius: 6px;
    font-size: 16px;
    outline: none;

}
.input-layout:hover{
    background-color: #cf8cbc;
}

/* Quiz CSS!! */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bodyQuiz {
    background: #d9d9d9;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.quiz-container {
    width: 900px;
    background: #ececec;
    border: 2px solid #777;
    border-radius: 10px;
    padding: 35px;
}

.categories {
    display: flex;
    justify-content: space-around;
    margin-bottom: 45px;
}

.category {
    width: 110px;
    height: 110px;

    border: 2px solid #666;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 22px;
    background: white;
}

main h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 35px;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 70%;
    margin: auto;
}

.answer {
    display: flex;
    align-items: center;
    gap: 25px;

    background: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
}

.letter {
    width: 48px;
    height: 48px;

    border: 2px solid #666;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    background: white;
}

.text {
    font-size: 22px;
    color: #333;
}

.hoverEffect:hover {
    background: #3d1a33c4;
    color: white;
}

.hidden{
    display: none !important;
}

.locked {
    opacity: 0.5;                
    cursor: not-allowed;        
    pointer-events: none;        
    text-decoration: line-through; 
}

#result {
    display: none; 
}

#result:not(.hidden) {
    display: block; 
}

.pontos { 
    font-size: 22px;
    color: #333;
    
}